.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.container {
    padding: 20px;
    text-align: center;
    background: #675fbe;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

label {
    color: white;
}

h1 {
    color: white;
}