.container {
    padding: 70px;
    text-align: center;
    background: #efcf17;

    height: 100vh;
    
    /* Setup */
    position: relative;
    
    max-width: initial;
}

.child {
    // /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: white;
}